{:kotoba.app/id "cloud.itonami.isic-3220", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiehazrjokyz3bwjpmqz3fkjg2b2tmukgpztzkdwqxjybdhzz4s7fq", :kotoba.app/embed-url "ipfs://bafkreiehazrjokyz3bwjpmqz3fkjg2b2tmukgpztzkdwqxjybdhzz4s7fq", :published {:archive "https://kotobase.net/ipfs/bafkreiehazrjokyz3bwjpmqz3fkjg2b2tmukgpztzkdwqxjybdhzz4s7fq", :size 72570, :put-status 201, :get-status 200, :at "2026-08-15T13:51:06.316Z"}}
